---
import Layout from "../../layouts/Layout.astro"
import Hero from "../../components/Hero.astro"
import Benefits from "../../components/Benefits.astro"
import CTA from "../../components/CTA.astro"

export async function getStaticPaths() {
    return [
        {params: {area: "grantham"}, props: {area: "Grantham", about: "Grantham is a market town located in Lincolnshire, England. It is known for its rich history, including being the birthplace of Sir Isaac Newton. Grantham offers a range of amenities, including shops, restaurants, and cultural attractions. The town is surrounded by beautiful countryside, with nearby attractions such as Belton House and Belvoir Castle, providing opportunities for outdoor activities and exploration."}},
        {params: {area: "bourne"}, props: {area: "Bourne", about: "Bourne is a market town located in Lincolnshire, England. It has a charming town center with a mix of independent shops, cafes, and restaurants. Bourne is known for its historic buildings, including the medieval Bourne Abbey and the Red Hall. The town is surrounded by picturesque countryside, with opportunities for outdoor activities and walks along the nearby Bourne Woods and Grimsthorpe Castle Estate."}},
        {params: {area: "lincoln"}, props: {area: "Lincoln", about: "Lincoln is a historic cathedral city located in Lincolnshire, England. It is famous for its magnificent cathedral and medieval architecture. Lincoln offers a vibrant city center with a range of amenities, including shops, restaurants, and cultural attractions. The city is steeped in history, with landmarks such as Lincoln Castle and the Bailgate area. It is also surrounded by beautiful countryside, including the Lincolnshire Wolds, providing opportunities for outdoor activities and scenic walks."}}
    ];
}

const {area, about} = Astro.props;
const city = import.meta.env.PUBLIC_CITY
---

<Layout title={`Mobile Tyre Fitting In ${area}`} description={`Have your tyres fitted at home in ${area} with our convenient mobile tyre fitting service. Call us today for a quote.`} index={true}>
    <Hero heading={`Mobile Tyre Fitting in ${area}`} tagline="We come to you at home, work, or roadside." bgImg="url(/img/mobile-tyre-fitting-van.jpg)" formOption="registration"/>
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-lg-8">
                <main>
                    <h1 class="text-center text-lg-start">Mobile Tyre Fitting in {area}</h1>
                    <p>Do you find yourself stranded with a <strong>flat tyre in {area}?</strong> Why not try our hassle-free <strong>mobile tyre fitting</strong> service instead! Our team can travel to your location, whether it's at home or on the side of the road, and install new tyres for you today.</p>
                        <div class="p-4 bg-light my-3 rounded-3">
                            <h2>About {area}</h2>
                            <p>{about}</p>
                        </div>
                        <h2>Tyre Services In {area}</h2>
                        <p><strong>Mobile Tyres {city}</strong> offers a range of services in <strong>{area}</strong> and the surrounding areas to help keep your vehicle running safely and efficiently. Our <a href="/mobile-puncture-repair">mobile puncture repair service</a> is available to fix any holes or damage to your tyres, saving you the cost of buying new tyres. We also offer <a href="/locking-wheel-nut-removal">locking wheel nut removal</a> services for those who have lost or damaged their locking wheel nut key.</p>
                        <p>If you're having trouble starting your vehicle, our <a href="/mobile-battery-replacement">mobile car battery replacement</a> service can help. We offer battery replacement on most makes and models of vehicles in {area}. Additionally, if your vehicle is equipped with <a href="/tyre-pressure-monitoring-systems">TPMS</a>, we can programme and calibrate your new tyre sensors to ensure that they are providing accurate information about your tyre pressures at all times.</p>
                </main>
                <article>
                    <h2>Why Choose Mobile Tyres {city}?</h2>
                    <ul>
                        <li>Convenient and efficient service that comes to you.</li>
                        <li>Experienced technicians who use state-of-the-art equipment.</li>
                        <li>Wide range of tyres from leading manufacturers at competitive prices.</li>
                        <li>Exceptional customer service and integrity as a family-run business.</li>
                        <li>Open 6 days a week with <a href="/emergency-tyre-replacement">same day fitting</a> available.</li>
                    </ul>
                </article>
                <article>
                    <h2>Get A Quote For Tyres In {area}</h2>
                    <p>At Mobile Tyres {city}, we are committed to providing customers in {area} with a range of high-quality services that are both efficient and affordable. <a href="/contact-us">Contact us</a> today to learn more about our services or to schedule an appointment.</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <Benefits />
            </div>
        </div>
    </div>
    <CTA />
</Layout>